.search_div {
    outline: 1px solid;
    max-width: 500px;
    border-radius: 5px;
    margin-block: 0.7rem;
    background-color: white;
}

.search_div form {
    display: flex;
    width: 100%;
}

.search_div input {
    outline: none;
    border: none;
    flex-grow: 1;
}

.search_div button {
    background-color: lightseagreen;
    font-size: 1.2rem;
    color: white;
    padding: 0.7rem 1rem;
    border: none;
}

.searchicon {
    display: flex;
    align-items: center;
    padding-inline: 0.7rem 0.5rem;
    font-size: 1.5rem;
    background-color: white;
}