.filter_item {
    min-width: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0.3rem;
    border-radius: 5px;
    cursor: pointer;
}

.filter_item p {
    padding-right: 0.5rem;
    margin-block: 0.2rem;
    font-size: 0.8rem;
    font-weight: bold;
}

.remove:hover {
    color: darkred;
}

.selected {
    background-color: lightseagreen;
    color: white;
    font-weight: bold;
}

.selected .remove {
    font-size: 1rem;
    margin: 0;
    padding-top: 0.1rem;
}